@import url(../header/__link/header__link.css);
@import url(../header/__link/_selected/header__link_selected.css);
@import url(../header/__lang/header__lang.css);

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 56px auto;
}

@media screen and (max-width: 1024px) {
    .header {
        margin-bottom: 48px;
    }
}