.lead__subtitle {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    margin: 0 auto 64px auto;
    max-width: 640px;
}

@media all and (max-width: 760px) {
    .lead__subtitle {
        font-size: calc(16px + 14 * (100vw - 320px) / (768 - 320));
        line-height: calc(20px + 16 * (100vw - 320px) / (768 - 320));
    }

}